# Azure PostgreSQL credentials
# Contact the OCHA Centre for Humanitarian Data to obtain access

# Production database
DSCI_AZ_DB_PROD_UID=
DSCI_AZ_DB_PROD_PW=

# Development/staging database
DSCI_AZ_DB_DEV_UID=
DSCI_AZ_DB_DEV_PW=
